@page "/devices"
@using NeoConnect
@inject INeoHubService _neoHubService
@inject IDataService _dataService;
@inject InMemoryDataService _inMemoryDataService;
@attribute [StreamRendering]

<PageTitle>Devices</PageTitle>

<h1>Devices</h1>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Profile</th>
                <th>Current Temp</th>
                <th>Set Temp</th>
                <th>Rate of Change</th>
                <th>Max Preheat</th>
            </tr>            
        </thead>
        <tbody>
            @foreach (var device in devices.Where(d => d.IsThermostat))
            {
                <tr @key="device.DeviceId">
                    <th>@device.ZoneName @if (device.IsStandby){<span style="font-weight:normal"> (Away)</span>}</th>
                    <td>@GetProfileName(device.ActiveProfile)</td>
                    <td>@device.ActualTemp°</td>
                    <td>@device.SetTemp°</td>
                    <td>@GetROC(device.ZoneName)</td>
                    <td>@GetPreheat(device.ZoneName) hours</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<NeoDevice>? devices;
    private Dictionary<string, int>? rocs;
    private Dictionary<int, Profile>? profiles;
    private Dictionary<string, EngineersData>? engineers;

    protected override async Task OnInitializedAsync()
    {
        using(var neoConnection = await _neoHubService.CreateConnection(CancellationToken.None))
        {
            devices = await _neoHubService.GetDevices(neoConnection, CancellationToken.None);
            rocs = await _neoHubService.GetROCData(neoConnection, devices.Select(d => d.ZoneName).ToArray(), CancellationToken.None);
            engineers = await _neoHubService.GetEngineersData(neoConnection, CancellationToken.None);
        }
    }

    private string GetROC(string deviceName)
    {
        var time = TimeSpan.FromMinutes(rocs[deviceName]);
        return string.Format("{0} ({1:0}:{2:00})", time.TotalMinutes, (int)time.TotalHours, time.Minutes);
    }

    private int GetPreheat(string deviceName)
    {        
        var eng = engineers[deviceName];
        return eng.MaxPreheatDuration;
    }

    private string GetProfileName(int profileId)
    {
        return _inMemoryDataService.GetProfileName(profileId);
    }
}
