@page "/history"

<PageTitle>History</PageTitle>

@using NeoConnect
@using NeoConnect.ViewModels
@inject IDataService _dataService
@inject IHeatingService _heatingService
@attribute [StreamRendering]


@if (grid == null || headings == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div>
        <p style="text-align:center">
            <h2>
                <button class="btn btn-light" @onclick="DecrDate"> &lt; </button>
                &nbsp; @dateToDisplay.ToString("dd MMM yyyy") &nbsp;
                <button class="btn btn-light" @onclick="IncrDate"> &gt; </button>
            </h2>
        </p>
        <div id="heating-table">
            <table class="table">
                <tbody>
                    @for (var i = 0; i < grid.GetLength(0); i++)
                    {
                        <tr>
                            <th class="room">@grid[i, 0]</th>
                            @for (var j = 1; j < grid.GetLength(1); j++)
                            {
                                <td class="heat @GetStatus(@grid[i, j]) @((j+3)%4==0 ? "line" : "")">&nbsp;</td>
                            }
                        </tr>
                    }
                    <tr class="timeline">
                        <th class="room">&nbsp;</th>                        
                        <th colspan="2"></th>
                        @for (var i = 0; i < headings.Length; i++)
                        {

                            <th colspan="4" style="text-align:center">@headings[i]</th>
                        }
                        <th colspan="2">&nbsp;</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <p class="mt-2"><button class="btn btn-secondary" @onclick="Export"><i class="oi oi-data-transfer-download">&nbsp;</i> Export</button></p>
            
            @if(export != null)
            {
                <table>
                @foreach (var item in export.OrderBy(e => e.Timestamp))
                {
                    <tr>
                        <td>(@item.DeviceId,@item.ActualTemp,@item.SetTemp,@item.HeatOn,@item.PreheatActive,"@item.Timestamp.ToString("yyyy-MM-dd HH:mm:ss.fff")")</td>
                    </tr>                        
                }
                </table>
            }
        </div>
    </div>
}

@code {
    private List<NeoConnect.DataAccess.DeviceState>? export;
    private string[,]? grid;
    private string[]? headings;
    private DateTime dateToDisplay;

    protected override async Task OnInitializedAsync()
    {
        dateToDisplay = DateTime.Today;
        await LoadData();
    }

    protected async Task IncrDate()
    {
        if (dateToDisplay != DateTime.Today)
        {
            dateToDisplay = dateToDisplay.AddDays(1);
            await LoadData();
        }
    }

    protected async Task DecrDate()
    {
        dateToDisplay = dateToDisplay.AddDays(-1);
        await LoadData();
    }

    protected async Task Export()
    {
        export = (await _dataService.GetDeviceData(dateToDisplay)).ToList();
    }

    protected async Task LoadData()
    {
        // fetch the data
        var devices = (await _dataService.GetDeviceData(dateToDisplay)).Select(d => new DeviceViewModel()
        {
            DeviceId = d.DeviceId,
            State = d.PreheatActive ? 2 : d.HeatOn ? 1 : 0,
            Time = d.Timestamp,
            Slice = GetIndex(d.Timestamp)
        }).GroupBy(d => d.DeviceId);


        // build the grid
        grid = new string[devices.Count(), 97];
        headings = new string[23];
        int i = 0;
        foreach (var device in devices)
        {
            grid[i, 0] = GetDeviceName(device.Key);

            int j = 1;
            foreach (var val in device.OrderBy(d => d.Time))
            {
                //pad
                while (j - 1 < val.Slice)
                {
                    grid[i, j] = "-1";
                    j++;
                }

                grid[i, j] = val.State.ToString();
                j++;
            }

            //pad to end
            while (j <= 96)
            {
                grid[i, j] = "-1";
                j++;
            }

            i++;
        }

        var times = dateToDisplay;
        for (int k = 0; k < 23; k++)
        {
            times = times.AddHours(1); //start at 1am;
            headings[k] = times.ToString("HH:mm");            
        }
    }

    private int GetIndex(DateTime timestamp)
    {
        return (timestamp.Hour * 4) + (timestamp.Minute < 15 ? 0 : timestamp.Minute < 30 ? 1 : timestamp.Minute < 45 ? 2 : 3);
    }

    private string GetDeviceName(int id)
    {
        return _dataService.GetDeviceName(id);
    }

    protected string GetStatus(string statusCode)
    {
        switch (statusCode)
        {
            case "2":
                return "pre";
            case "1":
                return "on";
            case "0":
                return "off";
            default:
                return "";
        }
    }
}
